{:format :kotoba.cljk-origin/v1
 :renamed-on "2026-09-11"
 :decision "adr-2609111500-cljk-rename-all-clojure-source (com-junkawasaki/root 90-docs/adr; owner instruction 2026-09-11)"
 :rule "value = the extension the file had before the rename. A path ending in .clj.cljk or .cljs.cljk kept it in the name because both platform files existed (or the plain target was taken)."
 :origins
 {"run-tests.cljk" ".cljs"
  "src/kotoba/compiler/affine.cljk" ".cljc"
  "src/kotoba/compiler/frontend.cljk" ".cljc"
  "src/kotoba/compiler/kotoba_reader.cljk" ".cljc"
  "src/kotoba/compiler/schema.cljk" ".cljc"
  "src/kotoba/sema.cljk" ".cljc"
  "test/kotoba/compiler/abort_ability_test.cljk" ".clj"
  "test/kotoba/compiler/affine_test.cljk" ".cljc"
  "test/kotoba/compiler/boot_scratch_test.cljk" ".cljc"
  "test/kotoba/compiler/call_arity_test.cljk" ".cljc"
  "test/kotoba/compiler/case_uniqueness_test.cljk" ".cljc"
  "test/kotoba/compiler/closure_refinement_test.cljk" ".cljc"
  "test/kotoba/compiler/collection_heads_test.cljk" ".cljc"
  "test/kotoba/compiler/defdesugar_test.cljk" ".cljc"
  "test/kotoba/compiler/dropped_declaration_form_test.cljk" ".cljc"
  "test/kotoba/compiler/eager_recursive_let_binding_test.cljk" ".cljc"
  "test/kotoba/compiler/export_names_constant_test.cljk" ".cljc"
  "test/kotoba/compiler/f32_literal_test.cljk" ".cljc"
  "test/kotoba/compiler/firmware_store_test.cljk" ".cljc"
  "test/kotoba/compiler/grammar_declared_head_test.cljk" ".clj"
  "test/kotoba/compiler/guest_grammar_vendor_test.cljk" ".clj"
  "test/kotoba/compiler/host_nesting_test.cljk" ".cljc"
  "test/kotoba/compiler/i64_min_max_test.cljk" ".cljc"
  "test/kotoba/compiler/interrupt_entry_test.cljk" ".cljc"
  "test/kotoba/compiler/kernel_dequant_dot_test.cljk" ".clj"
  "test/kotoba/compiler/kernel_dot_f32_test.cljk" ".clj"
  "test/kotoba/compiler/kernel_memory_widths_test.cljk" ".clj"
  "test/kotoba/compiler/kernel_xgetbv_test.cljk" ".cljc"
  "test/kotoba/compiler/kernel_xsetbv_test.cljk" ".cljc"
  "test/kotoba/compiler/kotoba_reader_test.cljk" ".cljc"
  "test/kotoba/compiler/let_body_test.cljk" ".cljc"
  "test/kotoba/compiler/local_state_test.cljk" ".clj"
  "test/kotoba/compiler/loop_accumulator_type_test.cljk" ".cljc"
  "test/kotoba/compiler/malformed_definition_form_test.cljk" ".cljc"
  "test/kotoba/compiler/namespace_attr_map_test.cljk" ".cljc"
  "test/kotoba/compiler/namespace_refused_clause_test.cljk" ".cljc"
  "test/kotoba/compiler/namespace_refer_clojure_test.cljk" ".cljc"
  "test/kotoba/compiler/malformed_type_argument_test.cljk" ".cljc"
  "test/kotoba/compiler/map_source_type_test.cljk" ".cljc"
  "test/kotoba/compiler/mapv_alias_shadowing_test.cljk" ".cljc"
  "test/kotoba/compiler/match_test.cljk" ".cljc"
  "test/kotoba/compiler/operation_refusal_cause_test.cljk" ".cljc"
  "test/kotoba/compiler/oracle_reach_test.cljk" ".cljc"
  "test/kotoba/compiler/parameter_annotation_test.cljk" ".cljc"
  "test/kotoba/compiler/parameter_inference_test.cljk" ".cljc"
  "test/kotoba/compiler/parameter_use_conflict_test.cljk" ".cljc"
  "test/kotoba/compiler/protocol_docstring_test.cljk" ".cljc"
  "test/kotoba/compiler/protocol_method_diagnostic_test.cljk" ".cljc"
  "test/kotoba/compiler/pure_head_slice_test.cljk" ".cljc"
  "test/kotoba/compiler/reader_metadata_test.cljk" ".cljc"
  "test/kotoba/compiler/rodata_literal_test.cljk" ".cljc"
  "test/kotoba/compiler/set_operations_test.cljk" ".cljc"
  "test/kotoba/compiler/slice_carrier_test.cljk" ".clj"
  "test/kotoba/compiler/string_upper_test.cljk" ".cljc"
  "test/kotoba/compiler/type_directed_arithmetic_test.cljk" ".clj"
  "test/kotoba/compiler/typed_map_key_types_test.cljk" ".cljc"
  "test/kotoba/compiler/typed_map_value_types_test.cljk" ".cljc"
  "test/kotoba/compiler/uefi_boundary_test.cljk" ".cljc"
  "test/kotoba/compiler/unbound_symbol_nearest_test.cljk" ".cljc"
  "test/kotoba/compiler/vector_end_and_map_projection_test.cljk" ".cljc"
  "test/kotoba/compiler/zero_multiply_lint_test.cljk" ".cljc"
  "test/kotoba/sema_test.cljk" ".clj"}}
